* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #14121c;
  color: #e6e0ef;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}